.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  animation: gradient 3s ease infinite;
}
  
  nav {
    margin-bottom: 2rem;
  }
  
  .navbar-item {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .navbar-item:hover {
    text-decoration: none;
  }
  
  .order-tile {
    display: grid;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    max-width: 30rem;
  max-height: 20rem;
  margin-bottom: 1rem;
  overflow: auto;
  }
  
  button {
    background-color: #4e71d2;
    border: none;
    color: white;
    padding: 0.3rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4e71d2;
  }
  css
.orders-container {
  padding: 2rem;
}

nav {
  margin-bottom: 2rem;
}

.navbar-item {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-item:hover {
  text-decoration: none;
}

.order-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}


.order-tile {
  width: 30rem;
  height: 20rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.order-tile-bottom {
  margin-top: 2rem;
}

button {
  background-color: #4e71d2;
  border: none;
  color: white;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4e71d2;
}
.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.order-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.order-tile {
  width: 30rem;
  height: 20rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .order-tile-bottom {
  margin-top: 2rem;
} */